src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-property-placeholder="http://www.mulesoft.org/schema/mule/secure-property-placeholder"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/secure-property-placeholder http://www.mulesoft.org/schema/mule/secure-property-placeholder/current/mule-secure-property-placeholder.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
 <secure-property-placeholder:config name="Secure_Property_Placeholder" key="${crypto.key}" location="app.properties" doc:name="Secure Property Placeholder"/>
  
	<http:listener-config host="localhost" name="httpList" port="${http.port}" doc:name="HTTP Listener Configuration" />
	<spring:beans>
		<spring:bean id="Bean" name="Bean" class="com.mulesoft.training.Database" />
	</spring:beans>
	
	<db:derby-config name="Derby_Configuration" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration" />
	
	<jms:activemq-connector name="Active_MQ" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ" />
	
	<flow name="mavenFlow">
		<http:listener path="flights" config-ref="httpList" doc:name="HTTP" />
		<db:select config-ref="Derby_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT * FROM FLIGHTS]]></db:parameterized-query>
		</db:select>
		<set-session-variable variableName="session" value="#['session']" doc:name="Session Variable" />
		<set-variable variableName="variable" value="#['variable']" doc:name="Variable" />
		<set-property propertyName="property" value="#['property']" doc:name="Property" />
		<json:object-to-json-transformer doc:name="Object to JSON" />
        <set-property propertyName="#['Content-Type']" value="#['application/json']" doc:name="Property"/>
		<jms:outbound-endpoint queue="flights" connector-ref="Active_MQ" doc:name="JMS" />
	</flow>

	<flow name="logFlights">
		<jms:inbound-endpoint queue="flights" connector-ref="Active_MQ" doc:name="JMS" />
		<logger message="#[message.payload]" level="INFO" doc:name="Logger" />
	</flow>

</mule>
